.InstalledMod {
  align-items: center;
  display: grid;
  font-size: 1.6rem;
  gap: 1%;
  grid-template-columns: 33% 23% 20% 20%;
  white-space: nowrap;

  + .InstalledMod {
    border-top: none;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
