/* stylelint-disable max-nesting-depth */
@use "./_vars.scss" as v;

%button-base {
  --background: var(--primary-4);
  --border-color: var(--primary-4);
  --text-color: var(--primary-text-2);

  @include v.theme("light") {
    --background: var(--primary-7);
    --border-color: var(--primary-7);
  }

  align-items: center;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--spacing-7);
  font-weight: 500;
  justify-content: center;
  line-height: 140%;
  min-width: var(--spacing-12);
  overflow: hidden;
  padding: var(--spacing-4) var(--spacing-6);
  -webkit-tap-highlight-color: transparent; // removes blue highlight in mobile chrome
  transition:
    background-color 250ms var(--ease-1),
    border-color 250ms var(--ease-1),
    color 250ms var(--ease-1),
    transform 250ms var(--ease-5);
  white-space: nowrap;

  svg {
    fill: currentcolor;
    height: 1lh;
    transition: fill 250ms var(--ease-1);
    width: 1lh;
  }

  &:active {
    transform: scale(0.97);
  }

  &:disabled {
    cursor: auto;
    filter: grayscale(0.6);
    pointer-events: none;
  }

  &:focus-visible {
    @include v.focus-visible;
  }

  &.contained {
    &:hover {
      --background: var(--primary-5);
      --border-color: var(--primary-5);

      @include v.theme("light") {
        --background: var(--primary-6);
        --border-color: var(--primary-6);
      }
    }

    &:active {
      --border-color: var(--primary-6);

      @include v.theme("light") {
        --border-color: var(--primary-5);
      }
    }

    &.secondary {
      --background: var(--secondary-4);
      --border-color: var(--secondary-4);

      @include v.theme("light") {
        --background: var(--secondary-7);
        --border-color: var(--secondary-7);
      }

      &:hover {
        --background: var(--secondary-5);
        --border-color: var(--secondary-5);

        @include v.theme("light") {
          --background: var(--secondary-6);
          --border-color: var(--secondary-6);
        }
      }

      &:active {
        --border-color: var(--secondary-6);

        @include v.theme("light") {
          --border-color: var(--secondary-5);
        }
      }
    }

    &.error {
      --background: var(--danger-4);
      --border-color: var(--danger-4);

      @include v.theme("light") {
        --background: var(--danger-7);
        --border-color: var(--danger-7);
      }

      &:hover {
        --background: var(--danger-5);
        --border-color: var(--danger-5);

        @include v.theme("light") {
          --background: var(--danger-6);
          --border-color: var(--danger-6);
        }
      }

      &:active {
        --border-color: var(--danger-6);

        @include v.theme("light") {
          --border-color: var(--danger-5);
        }
      }
    }

    &.success {
      --background: var(--success-4);
      --border-color: var(--success-4);

      @include v.theme("light") {
        --background: var(--success-7);
        --border-color: var(--success-7);
      }

      &:hover {
        --background: var(--success-5);
        --border-color: var(--success-5);

        @include v.theme("light") {
          --background: var(--success-6);
          --border-color: var(--success-6);
        }
      }

      &:active {
        --border-color: var(--success-6);

        @include v.theme("light") {
          --border-color: var(--success-5);
        }
      }
    }
  }

  &.outlined {
    --background: transparent;
    --text-color: var(--primary-4);

    @include v.theme("light") {
      --border-color: var(--primary-7);
      --text-color: var(--primary-7);
    }

    &:hover {
      --text-color: var(--primary-5);
      --border-color: var(--primary-5);

      @include v.theme("light") {
        --text-color: var(--primary-6);
        --border-color: var(--primary-6);
      }
    }

    &:active {
      --border-color: var(--primary-6);
      --text-color: var(--primary-6);

      @include v.theme("light") {
        --border-color: var(--primary-5);
        --text-color: var(--primary-5);
      }
    }

    &.secondary {
      --border-color: var(--secondary-4);
      --text-color: var(--secondary-4);

      @include v.theme("light") {
        --border-color: var(--secondary-7);
        --text-color: var(--secondary-7);
      }

      &:hover {
        --border-color: var(--secondary-5);
        --text-color: var(--secondary-5);

        @include v.theme("light") {
          --border-color: var(--secondary-6);
          --text-color: var(--secondary-6);
        }
      }

      &:active {
        --border-color: var(--secondary-6);
        --text-color: var(--secondary-6);

        @include v.theme("light") {
          --border-color: var(--secondary-5);
          --text-color: var(--secondary-5);
        }
      }
    }

    &.error {
      --text-color: var(--danger-4);
      --border-color: var(--danger-4);

      @include v.theme("light") {
        --text-color: var(--danger-7);
        --border-color: var(--danger-7);
      }

      &:hover {
        --text-color: var(--danger-5);
        --border-color: var(--danger-5);

        @include v.theme("light") {
          --text-color: var(--danger-6);
          --border-color: var(--danger-6);
        }
      }

      &:active {
        --text-color: var(--danger-6);
        --border-color: var(--danger-6);

        @include v.theme("light") {
          --text-color: var(--danger-5);
          --border-color: var(--danger-5);
        }
      }
    }

    &.success {
      --text-color: var(--success-4);
      --border-color: var(--success-4);

      @include v.theme("light") {
        --text-color: var(--success-7);
        --border-color: var(--success-7);
      }

      &:hover {
        --text-color: var(--success-5);
        --border-color: var(--success-5);

        @include v.theme("light") {
          --text-color: var(--success-6);
          --border-color: var(--success-6);
        }
      }

      &:active {
        --text-color: var(--success-6);
        --border-color: var(--success-6);

        @include v.theme("light") {
          --text-color: var(--success-5);
          --border-color: var(--success-5);
        }
      }
    }
  }

  &.transparent {
    @extend %button-base, .outlined;

    &.transparent {
      --border-color: transparent;

      &:hover {
        --border-color: transparent;
      }

      &:active {
        --border-color: transparent;
      }

      &.secondary {
        --border-color: transparent;

        &:hover {
          --border-color: transparent;
        }

        &:active {
          --border-color: transparent;
        }
      }

      &.error {
        --border-color: transparent;

        &:hover {
          --border-color: transparent;
        }

        &:active {
          --border-color: transparent;
        }
      }

      &.success {
        --border-color: transparent;

        &:hover {
          --border-color: transparent;
        }

        &:active {
          --border-color: transparent;
        }
      }
    }
  }
}
