@import "../../../../shared/styles/card-base.scss";

.ModsOrder {
  .droppable {
    background-color: var(--danger-2);

    &.isOver {
      background-color: var(--success-2);
    }
  }

  .modWrapper {
    user-select: none;

    @extend %card-base;

    + .modWrapper {
      border-top: none;
    }
  }

  .installedMod {
    border: none;
    padding: 0;
  }
}
