.InstalledMod {
  align-items: center;
  counter-increment: modOrder;
  display: grid;
  font-size: 1.6rem;
  gap: 1%;
  grid-template-columns: 5% 40% 24% 20% 6%;
  white-space: nowrap;

  + .InstalledMod {
    border-top: none;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .delete {
    aspect-ratio: 1;
  }
}
