@layer EmptyList, base;

.EmptyList {
  display: grid;
  flex: 1;
  place-content: center;

  @layer EmptyList {
    border-top: none;
  }

  .header {
    margin-bottom: 2rem;
    place-self: center;
  }

  .button {
    place-self: center;
  }

  > input {
    display: none;
  }

  .error {
    padding-bottom: 5rem;
  }
}
