/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  align-items: center;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  color: white;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  overflow-y: hidden;
  position: relative;
}

button {
  appearance: none;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow:
    0 8px 28px -6px rgb(24 39 75 / 12%),
    0 18px 88px -4px rgb(24 39 75 / 14%);
  cursor: pointer;
  font-size: 1.3rem;
  opacity: 0.9;
  padding: 10px 20px;
  transition: all ease-in 0.1s;
}

button:hover {
  opacity: 1;
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  height: fit-content;
  margin: 10px;
  text-decoration: none;
  width: fit-content;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
