.App {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100dvh;

  main {
    display: grid;
    gap: var(--spacing-10);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: var(--spacing-10);
  }
}
