@import "../../styles/button-base";

%icon-button {
  @extend %button-base;

  align-items: center;
  border-radius: 25%;
  display: inline-flex;
  justify-content: center;
  min-width: auto;
  padding: var(--spacing-4);
  position: relative;

  &.outlined,
  &.transparent {
    overflow: visible;
    padding: var(--spacing-4);
  }

  &.loading {
    > *:not(.spinner) {
      opacity: 0;
    }

    .spinner {
      opacity: 1;
    }
  }

  svg {
    aspect-ratio: 1;
    fill: currentcolor;
    max-height: 1lh;

    path {
    }
  }

  .spinner {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
  }
}

.IconButton {
  @extend %icon-button;
}
