.App {
  display: grid;
  grid-template-columns: 12rem 1fr;
  min-height: 100dvh;

  > aside {
    align-self: start;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .version {
    padding: 1rem;
    text-align: right;
    width: 100%;
  }

  main {
    display: grid;
    gap: var(--spacing-10);
    grid-template-columns: auto 1fr;
    min-height: 100dvh;
    padding: var(--spacing-10);
  }

  .gameNavBar {
    align-self: flex-start;
    position: sticky;
    top: var(--spacing-5);
  }
}
