.Heading {
  color: inherit;
  font-stretch: condensed;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
}

h1.Heading {
  font-size: 3.4rem;
  line-height: 4.8rem;
}

h2.Heading {
  font-size: 2.2rem;
  line-height: 3.2rem;
}

h3.Heading {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

h4.Heading {
  font-size: 1.4rem;
  line-height: 2rem;
}

h5.Heading {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h6.Heading {
  font-size: 1.4rem;
}
