.Card {
  @layer base {
    --background: var(--surface-2);
    --border-color: var(--primary-3);

    @media (prefers-color-scheme: light) {
      --background: var(--surface-1);
    }

    background-color: var(--background);
    border: 1px solid var(--border-color);
    padding: 1rem;
  }
}
